<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="GE.SC.ContentAuthoring.Infrastructure.Pipelines.RegisterWebApiRoutes, GE.SC.ContentAuthoring" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true" />
			</initialize>
		</pipelines>
		<commands>
			<command name="contenteditor:exportimport" type="GE.SC.ContentAuthoring.Commands.ExportImportCommand,GE.SC.ContentAuthoring" />
		</commands>
		<settings>
			<setting name="templatesPath" value="sitecore/templates"/>
		</settings>
	</sitecore>
</configuration>
